@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');
:root{
    --font-heading:"Abhaya Libre",sans-serif;
    --font-body:"Abhaya Libre",sans-serif;
}
