@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');
:root{
    --font-heading:"Alegreya",sans-serif;
    --font-body:"Alegreya",sans-serif;
}