@import url('https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root{
    --font-heading:"Caladea",sans-serif;
    --font-body:"Caladea",sans-serif;
}