@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&display=swap');
:root{
    --font-heading:"Frank Ruhl Libre",sans-serif;
    --font-body:"Frank Ruhl Libre",sans-serif;
}