@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap');
:root{
    --font-heading:"Gelasio",sans-serif;
    --font-body:"Gelasio",sans-serif;
}
