@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --font-heading:"Inter Tight",sans-serif;
    --font-body:"Inter Tight",sans-serif;
}