@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root{
    --font-heading:"Open Sans",sans-serif;
    --font-body:"Open Sans",sans-serif;
}
