#frmCheckout.paypal_ppcpv-payment-form #creditCardInputFields {
    background-color: #fff;
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-align: center;
}
#frmPayment.paypal_ppcpv-payment-form .three-column-grid,
#frmPayment.paypal_ppcpv-payment-form .paymethod-info:not([data-paymethod-id]),
#frmCheckout.paypal_ppcpv-payment-form #creditCardInputFields .existing-cc-grid,
#frmCheckout.paypal_ppcpv-payment-form #creditCardInputFields ul,
#paypal_ppcpv_input_container_button {
    width: 500px;
    max-width: 100%;
}
#paypal_ppcpv_input_container_button {
    display: inline-block;
}
#frmPayment.paypal_ppcpv-payment-form .paymethod-info:not([data-paymethod-id]),
#frmCheckout.paypal_ppcpv-payment-form #creditCardInputFields ul {
    border: 1px solid #d9d9d9;
    border-radius: .25em;
    display: inline-block;
    margin-bottom: .75rem;
    padding: .5em 1.25rem;
    text-align: left;
}
#frmPayment.paypal_ppcpv-payment-form .paymethod-info:not([data-paymethod-id]) {
    padding: .75rem 1.25rem;
}
#frmPayment.paypal_ppcpv-payment-form .paymethod-info[data-paymethod-id],
#frmCheckout.paypal_ppcpv-payment-form #creditCardInputFields .paymethod-info,
#frmCheckout.paypal_ppcpv-payment-form #creditCardInputFields .radio-inline {
    margin-bottom: 0;
}
#frmPayment.paypal_ppcpv-payment-form .paymethod-info[data-paymethod-id],
#frmCheckout.paypal_ppcpv-payment-form #creditCardInputFields .paymethod-info {
    border: 1px solid #d9d9d9;
    border-left: 0;
    border-right: 0;
    margin-bottom: .75rem;
    padding: .75em 0 0;
}
#frmPayment.paypal_ppcpv-payment-form .three-column-grid,
#frmCheckout.paypal_ppcpv-payment-form #creditCardInputFields .existing-cc-grid {
    font-size: 16px;
    grid-template-columns: 3em 2.5em 16em auto;
    text-align: left;
}
.paypal_ppcpv-payment-form .paymethod-info {
    font-size: 13px;
}
#frmPayment.paypal_ppcpv-payment-form .paymethod-info[data-paymethod-id]:nth-child(5n+1),
#frmCheckout.paypal_ppcpv-payment-form #creditCardInputFields .paymethod-info:nth-child(5n+1) {
    border-left: 1px solid #d9d9d9;
    border-radius: .25rem 0 0 .25rem;
    padding-left: 1.25rem;
}
#frmPayment.paypal_ppcpv-payment-form .paymethod-info[data-paymethod-id]:nth-child(5n+5),
#frmCheckout.paypal_ppcpv-payment-form #creditCardInputFields .paymethod-info:nth-child(5n+5) {
    display: none!important;
}
#frmPayment.paypal_ppcpv-payment-form .paymethod-info[data-paymethod-id]:nth-child(5n+3) label,
#frmPayment.paypal_ppcpv-payment-form .paymethod-info[data-paymethod-id]:nth-child(5n+4) label {
    width: 100%;
}
#frmPayment.paypal_ppcpv-payment-form .paymethod-info[data-paymethod-id]:nth-child(5n+3) label,
#frmPayment.paypal_ppcpv-payment-form .paymethod-info[data-paymethod-id]:nth-child(5n+4) label,
#frmCheckout.paypal_ppcpv-payment-form #creditCardInputFields .paymethod-info:nth-child(5n+3),
#frmPayment.paypal_ppcpv-payment-form .paymethod-info[data-paymethod-id]:nth-child(5n+4),
#frmCheckout.paypal_ppcpv-payment-form #creditCardInputFields .paymethod-info:nth-child(5n+4) {
    line-height: 1.75em;
    overflow: hidden;
    padding-right: 1.25rem;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#frmPayment.paypal_ppcpv-payment-form .paymethod-info[data-paymethod-id]:nth-child(5n+4),
#frmCheckout.paypal_ppcpv-payment-form #creditCardInputFields .paymethod-info:nth-child(5n+4) {
    border-radius: 0 .25rem .25rem 0;
    border-right: 1px solid #d9d9d9;
}
#paypal_ppcpv_input_container {
    display: block;
    max-width: 100%;
}
#frmPayment.paypal_ppcpv-payment-form i.fa-paypal::before,
#frmCheckout.paypal_ppcpv-payment-form #creditCardInputFields i.fa-paypal::before {
    background-image: url("../logo-icon.png");
    background-position: center;
    background-size: 2em 2em;
    content: '';
    display: inline-block;
    height: 2em;
    width: 2em;
}
.paypal_ppcpv-payment-form .payer-label {
    display: inline-block;
}
.paypal_ppcpv-payment-form .logo {
    display: inline-block;
    margin-left: 0.95em;
}
.paypal_ppcpv-payment-form .logo img {
    height: 2em;
    width: 2em;
}
.paypal_ppcpv-payment-form .payer-email {
    font-size: 13px;
    margin-left: .25rem;
}
#frmCheckout.paypal_ppcpv-payment-form .payer-email {
    color: #666;
    font-weight: 300;
    margin-left: .5em;
}
.paypal_ppcpv-payment-form .approval-instructions {
    color: green;
}
.paypal_ppcpv-payment-form .payment-instructions {
    margin-bottom: 1rem;
}
#frmPayment.paypal_ppcpv-payment-form .control-label {
    display: none;
}
#frmPayment.paypal_ppcpv-payment-form .cc-payment-form .col-sm-8 {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
    width: 99.9%;
}
#frmPayment.paypal_ppcpv-payment-form #paymentGatewayInput {
    text-align: center;
}
#frmPayment.paypal_ppcpv-payment-form .three-column-grid label,
#frmPayment.paypal_ppcpv-payment-form .paymethod-info label,
#frmPayment.paypal_ppcpv-payment-form .form-group.row {
    margin-bottom: 0;
}
#frmPayment.paypal_ppcpv-payment-form i.fa-paypal {
    padding: 0 .375rem;
}
#frmPayment.paypal_ppcpv-payment-form #btnSubmitContainer {
    margin-top: 1rem;
}
.paypal_ppcpv-payment-form .selected {
    background-color: #f1f1f1;
}
