.contentarea h1 {
    display: none;
}
.split_payment_wrapper .tab-content {
    padding: 15px 18px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    border-radius: 5px;
    margin-top: 15px;
    display: none;
}
.split_payment_wrapper .tab-content.active {
    display: block;
}
.dashboard_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    border-radius: 5px;
}
.dashboard_header .tab-area {
    display: flex;
    align-items: center;
}
.company_logo {
    max-width: 130px;
}
.company_logo img {
    height: auto;
    max-width: 100%;
}
.dashboard_header .tab-area .logo {
    max-width: 50px;
    display: inline-block;
    border-radius: 5px;
    overflow: hidden;
}
.logo img {
    max-width: 100%;
    height: auto;
}
.tab-area .title {
    padding: 0 15px;
    font-size: 25px;
    font-weight: 700;
    color: #1a4d80;
}
.tab-area a.tab {
    padding: 0 20px;
    position: relative;
    color: #1a4d80;
    text-decoration: none;
}
.tab-area a.tab:after {
    content: '';
    position: absolute;
    bottom: -25px;
    padding: 0;
    left: 50%;
    transform: translateX(-50%);
    border-width: 0 8px 6px 8px;
    border-style: solid;
    border-color: transparent transparent #ffffff transparent;
}
.tab-area a.tab.active:after,
.tab-area a.tab:hover:after {
    border-color: transparent transparent #1a4d80 transparent;
}

form button {
    display: table;
    /* margin: 0 auto; */
    border: 1px solid #1a4d80;
    color: #1a4d80;
    border-radius: 5px;
    padding: 7px 30px;
    font-weight: 600;
    margin-top: 30px;
    background: #fff;
}

form button:hover {
    background: #1a4d80;
    color: #fff;
}



.info-page-title{
    font-size: 26px;
    color: #1a4d80;
    font-weight: bolder;
    margin-top: 30px;
}

.info-tables {
    width: 50%;
    font-size: 16px;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #ccc;
}

.st_row-1{
    background-color: white;
}

.st_row-2{
    background-color: #f5f5f5;
}

.info-tables tr{
    border: 1px solid #e0dfdf;
    box-shadow: 4px 0 4px -2px rgba(0, 0, 0, 0.2);
}

.info-tables th {
    padding: 20px;
}

.info-tables td {
    text-align: right;
    padding: 20px;
}

i.fas.fa-sync-alt {
    cursor: pointer;
}

.rotate-icon {
    animation: spin 1s linear infinite;

}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/*.alert{*/
.custom_alert{
    display: none;
    justify-content: space-between;
    padding: 10px;
    margin: 0 0 10px 0;
}

/*.alert button{*/
.custom_alert button{
    background: none;
    border: 0;
    margin: 0;
    padding: 0;
}

#close-button:hover {
    background: none !important;
    color: inherit !important;
}